.container-details{
    display: flex;
    align-items: center;
    min-height: 85vh;
    background-color: #F5EFE6;

}
.img-details{
    width: 50%;
    padding: 20px;
}

.img-details img{
    height: 90%;
    width: 90%;
    border: 1px solid #AD8B73;
    padding: 10px;
}
.info-details{
    padding-right: 20px;
    font-family:'Neue World Font';
    height: 438px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info-details h1{
    color: #AD8B73;
}
.info-details p{
    color: #AD8B73;
    text-align: center;
    width: 70%;
}

.info-details button{
    background-color: #AD8B73;
    border: none;
    width: 230px;
    height: 30px;
    border-radius: 2px;
    color: #ffff;
}