.container-login-register {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(177, 157, 141, 0.712);
  min-height: 88vh;
}

.container-log {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5efe6;
  flex-direction: column;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.1);
}

.login-register {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5efe6;
  flex-direction: column;
  border-radius: 5px;
}

.login-register input {
  border: none;
  height: 30px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.1);
}
.login-register input::placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: 100;
}

.login-register button {
  border: none;
  margin-bottom: 15px;
  background-color: #ad8b73;
  color: #fff;
  width: 150px;
  height: 35px;
  border-radius: 5%;
  box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.login-register label {
  color: #ad8b73;
}
.button-google {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}
.button-google svg {
  height: 24px;
}

.button-google:hover {
  transform: scale(1.02);
}

@media (max-width: 495px) {
  .login-register {
    width: 170px;
  }

  .login-register input {
    width: 150px;
  }
}
